openapi: 3.0.3
info:
  title: TaxJar Sales Tax Categories API
  description: REST API for real-time sales tax calculation, rooftop-level rate lookups, tax category listing, transaction management (orders and refunds), customer exemption management, nexus region tracking, address validation, and VAT validation. Supports token-based authentication via Authorization header. TaxJar is a Stripe company providing sub-20ms response times and 99.999% historical uptime.
  version: '2.0'
  contact:
    name: TaxJar Developer Support
    url: https://support.taxjar.com/category/233-taxjar-api
  termsOfService: https://www.taxjar.com/terms/
  x-api-id: taxjar-sales-tax
servers:
- url: https://api.taxjar.com/v2
  description: Production
- url: https://api.sandbox.taxjar.com/v2
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Categories
  description: Product tax categories
paths:
  /categories:
    get:
      operationId: listCategories
      summary: List tax categories
      description: Returns all available product tax categories with associated product tax codes that can be used to identify products subject to special tax rates.
      tags:
      - Categories
      responses:
        '200':
          description: List of tax categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Category:
      type: object
      properties:
        name:
          type: string
          description: Name of the tax category
          example: Clothing
        product_tax_code:
          type: string
          description: Product tax code for use in tax calculations
          example: 20010
        description:
          type: string
          description: Description of the tax category
          example: All clothing products
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error type
        detail:
          type: string
          description: Human-readable error detail
        status:
          type: integer
          description: HTTP status code
  responses:
    Unauthorized:
      description: Unauthorized - invalid or missing API token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Use your TaxJar API token. Format: "Bearer [token]" or "Token token=[token]"'
